.kg-button-card {
	display: flex;
	gap: var(--s-2);
}

.kg-btn {
	background: var(--button-accent, #52aead);
	color: var(--button-color, white);
	border: var(--s-4) solid var(--button-border, #77c3c2);
	border-radius: var(--s-3);
	padding: var(--s-2) var(--s-1);
	font-size: 1.2em;
	text-decoration: none;
}
