.kg-button-card {
	display: flex;
	gap: var(--s-2);
}

button,
.kg-btn {
	background: var(--accent-main, var(--dioptase));
	color: var(--accent-glare, white);
	border: var(--s-4) solid rgba(255, 255, 255, 0.3);
	border-radius: var(--s-3);
	padding: var(--s-2) var(--s-1);
	font-size: 1.2em;
	text-decoration: none;
}
