<!doctype html>
<html>
  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />
    <!-- @openlab/alembic inject-css -->
    <link rel="stylesheet" href="https://fonts.openlab.dev/inter/inter.css" />
    <link
      rel="stylesheet"
      href="https://fonts.openlab.dev/montserrat/montserrat.css"
    />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    {{ content | safe }}
    <footer>
      {{ site.title }} 2023 •
      <a href="/branding">Brand guidelines</a>
    </footer>
    <!-- @openlab/alembic inject-js -->
  </body>
</html>
