---
layout: html.njk
---

<main>
	<center-layout>
		<stack-layout>
			{% for post in posts %}
			<box-layout>
				<h1>{{ post.title }}</h1>
				<a href="{{ post.url }}">Open post</a>
			</box-layout>
			{% endfor %}
		</stack-layout>
	</center-layout>

	<!-- pagination controls ?  -->
	<!-- "partials/pagination.njk" -->
</main>

