---
layout: html.njk
---

<main class="flow">
	<center-layout>
		<div class="flow">
			<h1>Post — {{ post.title }}</h1>
			{% if post.feature_image %}
			<p>feature — {{ post.feature_image }}</p>
			{% endif %}
			{{ content | safe }}
		</div>

	</center-layout>
</main>
