---

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Redirecting...</title>
	{% if location %}
	<meta http-equiv="refresh" content="0; url={{ location }}" />
	{% endif %}
</head>
<body>
	{% if location %}
	<p>
		Redirecting to
		<a href="{{ location }}">{{ location }}</a>...
	</p>
	{% else %}
	<h1>This page has been misconfigured</h1>
	<p>The <code>location</code> variable has not been set</p>
	{% endif %}
	
</body>
</html>
