<article class="activityCard flow">
	<a href="{{url}}">
		<frame-layout ratio="16:9">
			<img src="{{feature_image}}">
		</frame-layout>
	</a>
	<p>
		<a href="{{url}}">
			{{title}} →
		</a>
	</p>
</article>
