{{!-- Custom navigation renderer --}}

<ul role="list">
	{{#foreach navigation}}
	<li>
		<a
			href="{{url absolute="true"}}"
			{{#if current}}aria-current="page"{{/if}}
		>
			{{label}}
		</a>
	</li>
	{{/foreach}}
</ul>

{{!--
{{#if isSecondary}}
{{else}}
{{/if}}
--}}
