<article>
	<a href="{{url}}">
		<frame-layout ratio="1:1">
			<img src="{{feature_image}}" alt="{{title}}" class="rounded">
		</frame-layout>
	</a>
	<center-layout intrinsic>
		<p>{{title}}</p>
	</center-layout>
</article>
