<header class="siteHeader">
	<cluster-layout justify="space-between" align="center" space="var(--s-3)">
		<a href="/">
			<picture>
				<source media="(max-width: 520px)" srcset="{{asset "img/icon-dark.png"}}">
				<img src="{{asset "img/brand-dark.png"}}" height="34">
			</picture>
		</a>
		<nav>
			{{navigation}}
		</nav>
	</cluster-layout>
</header>
