<footer class="siteFooter">
	<center-layout>
		<cluster-layout justify="space-between">
			<span>{{@site.title}}</span>
			<nav>
				{{navigation type="secondary"}}
			</nav>
		</cluster-layout>
	</center-layout>
</footer>
