<header class="siteHeader">
	<sidebar-layout>
		<cluster-layout justify="space-between" align="center" space="var(--s-3)">
			<a href="/"><img src="{{asset "img/brand-dark.png"}}" height="42"></a>
			<nav>
				{{navigation}}
			</nav>
		</cluster-layout>
	</sidebar-layout>
</header>
