{{!< default}}

{{#page}}

{{> 'site-header'}}

{{> 'feature-image'}}

<main class="bigBoldCard">
	<center-layout gutters="s0">
		<stack-layout space="s5">
			<section class="flow">
				<h1>{{title}}</h1>
				{{{content}}}
			</section>
		</stack-layout>
	</center-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>

{{/page}}
