{{!< default}}

{{#page}}

{{> 'site-header' }}

{{> 'feature-image' }}

<main class="bigBoldCard">
	<stack-layout space="s5">
		<section>
			<center-layout gutters="s0" max="80ch">
				<div class="flow">
					<h1>{{title}}</h1>
					{{{content}}}
				</div>
			</center-layout>
		</section>

		{{!-- Loop through each activity page first --}}
		{{#get "pages" filter="tag:activity" order="title asc"  limit="all"}}
		{{#foreach pages}}
		{{!-- Loop through each person that has that activity tag --}}
		{{#get "posts" filter="tag:person+tag:activity-{{slug}}" order="title asc" limit="all"}}
		{{#if posts}}
		<section>
			<center-layout gutters="s0" max="80ch">
				<div class="flow">
					<h2>{{../title}}</h2>
					<grid-layout min="130px" gap="s0">
					{{#foreach posts}}
						{{> 'person-card'}}
					{{/foreach}}
					</grid-layout>
				</div>
			</center-layout>
		</section>
	{{/if}}
	{{/get}}
	{{/foreach}}
	{{/get}}

	{{#get "posts" filter="tag:person+tag:other-people" order="title asc" limit="all"}}
	{{#if posts}}
	<section>
		<center-layout gutters="s0" max="80ch">
			<section class="flow">
				<h2>Wider team</h2>
				<grid-layout min="130px" gap="s0">
				{{#foreach posts}}
					{{> 'person-card'}}
				{{/foreach}}
				</grid-layout>
			</section>
		</center-layout>
	</section>
	{{/if}}
	{{/get}}
	</stack-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>

{{/page}}
