{{!< default}}

{{> 'site-header'}}

{{#get "pages" filter="slug:posts" as |page|}}
{{#page}}
{{> 'feature-image'}}
{{/page}}
{{/get}}

<main class="bigBoldCard">
	<center-layout class="flow" gutters="s0">
		<stack-layout space="s3">
			<header>
				<h1>
					<icon-layout>
						{{> icon name="tag" }}
						{{tag.name}}
					</icon-layout>
				</h1>
			</header>

			{{#foreach posts}}
			{{> 'post-card'}}
			{{/foreach}}

			{{pagination}}
		</stack-layout>
	</center-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>
