---
permalink: 404.html
layout: html.njk
title: 404 - Not Found
---

<main>
	<center-layout max="40ch">
		<box-layout class="flow">
			<h1>Error 404</h1>
			<section>Page not found, <a href="/">go home</a> to start over</section>
		</box-layout>
	</center-layout>
</main>

